.container.flexbox {
  margin-top: 50px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: stretch;
  text-align: center;
}

.flexbox .box1 {
  margin: 2%;
  background-color: coral;
  flex-basis: 44%;
  justify-content: stretch;
  /* flex-grow: 2; */
}
.flexbox .box2 {
  margin: 2%;
  background-color: coral;
  flex-basis: 44%;
  /* flex-grow: 2; */
}
.flexbox .box3 {
  margin: 2%;
  background-color: coral;
  flex-basis: 20%;
  /* flex-grow: 1; */
}
.flexbox .box4 {
  margin: 2%;
  background-color: coral;
  flex-basis: 20%;
  /* flex-grow: 1; */
}

.container.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 20px;
  min-height: 250px;
  text-align: center;
  /* align-items: center; */
}

.grid .box1 {
  background-color: aquamarine;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.grid .box2 {
  background-color: aquamarine;
  grid-column: 3/5;
  grid-row: 1/2;
}
.grid .box3 {
  background-color: aquamarine;
  grid-column: 3/4;
  grid-row: 2/3;
}
.grid .box4 {
  background-color: aquamarine;
  grid-column: 4/5;
  grid-row: 2/3;
}
